@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.error_explanation {
  border-radius: 5px;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

html {
  overflow-y: scroll;
  position: relative;
  min-height: 100%;  
}


body {
  font-family: 'Istok Web', sans-serif;
  padding-top: 60px;
  margin-left: 3cm;
/* Margin bottom by footer height */
  margin-bottom: 60px;
}

section{
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #C6E2FF;
  margin-right: 30px;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}
/* table */

table{
  
}


/* typography */

h1 {
  color: #F52887;
}

h2, h3, h4, h5, h6 {
  line-height: 1;
  color: #120A8F;
  font-family: 'Istok Web', sans-serif;
}

th {
  font-size: 2.3em;
}

.table th, .table td { 
     border-top: none !important; 
 }

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;

}

.btn {
    padding: 15px 15px;
    border: 0 none;
    letter-spacing: 1px;
    background-color: #F52887;
    font-size: 18px;
    color: #fff;
    width: 200px;
}
.btn:hover {
  color: #fff;
  text-decoration: none;
  }
.btn:visited {
  color: #fff;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  font-family: 'Istok Web', sans-serif;
  float: left;
  margin-right: 10px;
  font-size: 3em;
  color: #C6E2FF;
  letter-spacing: -1px;
  padding-top: 15px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  color: #777;
}



footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}

.gravatar {
  float: left;
  margin-right: 10px;
  height: 240px;
  width:  240px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
    border-radius: 5px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

label{
  font-size: 24px;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 40%;
  height: 20px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}